{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * color-swatches plugin for Craft CMS 3.x
 *
 * ColourSwatches Field Input
 *
 * @author    Rias
 * @copyright Copyright (c) 2018 Rias
 * @link      https://rias.be
 * @package   Colour Swatches
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<div id="{{ id }}" class="color-swatches">
    {% for option in field.options %}
        {% set optionId = namespacedId ~ '-option-' ~ loop.index %}
        {% set value = {
            label: option.label,
            color: option.color,
        } %}
        {% if ';' in value.color %}
            {% set colours = value.color | split(';') %}
        {% else %}
            {% set colours = value.color | split(',') %}
        {% endif %}

        <button type="button" title="{{ option.label }}" data-value="{{ value | json_encode }}" class="option {% if (option.default and not fieldValue.color) or (fieldValue.color == option.color) %} active{% endif %}"
                style="
            {% switch colours | length %}
                    {% case 1 %}
                        background: {{ value.color|parseRefs|raw }};
                    {% default %}
                        {% set percentage = 100 / colours | length %}
                        background: linear-gradient(to bottom right, {% for colour in colours %}{{ colour|parseRefs|raw }} {{ percentage * loop.index0 }}%, {{ colour|parseRefs|raw }} {{ percentage * loop.index }}%{% if not loop.last %},{% endif %}{% endfor %});
            {% endswitch %}
        "></button>
    {% endfor %}

</div>

<input id="{{ namespacedId }}" type="hidden" name="{{ name }}" value="{{ fieldValue|json_encode }}">
