{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * color-swatches plugin for Craft CMS 3.x
 *
 * ColourSwatches Field Input
 *
 * @author    Rias
 * @copyright Copyright (c) 2018 Rias
 * @link      https://rias.be
 * @package   Colour Swatches
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set defaultValue = null %}
{% set options = field.useConfigFile ? field.palette ? palettes[field.palette] : configOptions : field.options %}
<div id="{{ id }}" class="color-swatches">
    {% for option in options %}
        {% include 'colour-swatches/colourOption' with {
            optionId: namespacedId ~ '-option-' ~ loop.index,
            option: option,
        } %}

        {# Set the default value #}
        {% if option.default %}
            {% set value = {
                label: option.label,
                color: option.color,
            } %}

            {% set defaultValue = value|json_encode %}
        {% endif %}
    {% endfor %}
</div>

<input id="{{ namespacedId }}" type="hidden" name="{{ name }}" value="{% if fieldValue != '' %}{{ fieldValue|json_encode }}{% else %}{{ defaultValue }}{% endif %}">
