{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * color-swatches plugin for Craft CMS 3.x
 *
 * ColourSwatches Field Input
 *
 * @author    Percipio Global Ltd.
 * @copyright Copyright (c) 2020 Percipio Global Ltd.
 * @link      https://percipio.london
 * @package   Colour Swatches
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% set defaultValue = null %}
{% set options = field.useConfigFile ? field.palette ? palettes[field.palette] : configOptions : field.options %}
{% spaceless %}
<div id="{{ id }}" class="color-swatches">

        {% set savedValue = fieldValue ? fieldValue : null %}
            {# check if we have a saved valuie #}
            {% if fieldValue.color is not defined %}
                {% set fieldValue = null %}
            {% endif %}
        {% set match = 0 %}

        {# fetch our existing options #}
        {% for check in options %}
            {# check our saved value exists in the config #}
            {% if savedValue %}
               <pre>{{  savedValue.label }}->{{ check.label }}</pre>
                {% if savedValue.label == check.label %}
                    {% set match = 1 %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {# if value doesn't exist in config, reset to default #}
        {% if match == 0 %}
            {% set fieldValue = null %}
        {% endif %}

        {# fetch our color options #}
        {% for option in options %}
                {% include 'colour-swatches/colourOption' with {
                    optionId: namespacedId ~ '-option-' ~ loop.index,
                    option: option,
                } %}

                {# Set the default value #}
                {% if option.default %}
                    {% set value = {
                        label: option.label,
                        color: option.color is defined ? option.color : option.colour,
                    } %}
                    {% set defaultValue = value|json_encode %}
                {% endif %}
        {% endfor %}

    <pre>{{  fieldValue  }}</pre>
        {% if fieldValue.color is defined %}
                {% set fieldValue = fieldValue|json_encode %}
        {%  endif %}
        {% set fieldValue = fieldValue ? fieldValue : defaultValue %}

</div>
{% endspaceless -%}
        {{ forms.text({
            id: id ~ namespacedId,
            name: name,
            value: fieldValue,
            class: 'color-swatches-input'})
        }}