{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * color-swatches plugin for Craft CMS
 *
 * ColourSwatches Field Settings
 *
 * @author    Rias
 * @copyright Copyright (c) 2018 Rias
 * @link      https://rias.be
 * @package   Colour Swatches
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
    label: 'Use config options'|t('colour-swatches'),
    instructions: 'Whether to use the config options defined in `colour-swatches.php` or a custom config.'|t('colour-swatches'),
    name: 'useConfigFile',
    on: field.useConfigFile,
    toggle: 'preview',
    reverseToggle: 'settings',
}) }}

<div id="settings" class="color-swatches-options {{ field.useConfigFile ? 'hidden' : '' }}">
    {{ forms.editableTable(config) }}
</div>

<div id="preview" class="{{ field.useConfigFile ? '' : 'hidden' }}">
    
    <div class="field {{ paletteOptions|length > 1 ? '' : 'hidden' }}">
        {{ forms.selectField({
            label: 'Palette'|t('colour-swatches'),
            name: 'palette',
            options: paletteOptions,
            value: field.palette ? field.palette : null,
            toggle: true,
            targetPrefix: 'palette-'
        }) }}
    </div>

    {% if not paletteOptions|length %}
        {% set palettes = [configOptions] %}
    {% endif %}

    {% for key, palette in palettes %}
        {% if palettes|length > 1 %}
            {% set condition = field.palette == key %}
        {% else %}
            {% set condition = field.useConfigFile %}
        {% endif %}

        {% set defaultValue = null %}
        <div id="palette-{{ key }}" class="color-swatches {{ condition ? '' : 'hidden' }}">
            {% for option in palette %}
                {% set optionId = '1-option-' ~ loop.index %}
                {% set value = {
                    label: option.label,
                    color: option.color,
                } %}
                {% if ';' in value.color %}
                    {% set colours = value.color | split(';') %}
                {% else %}
                    {% set colours = value.color | split(',') %}
                {% endif %}

                {# Set the default value #}
                {% if option.default %}
                    {% set defaultValue = value|json_encode %}
                {% endif %}

                <button type="button" title="{{ option.label }}" data-value="{{ value | json_encode }}" class="option {% if option.default %} active{% endif %}"
                        style="
                        {% switch colours | length %}
                                {% case 1 %}
                                    background: {{ value.color|parseRefs|raw }};
                                {% default %}
                                    {% set percentage = 100 / colours | length %}
                                    background: linear-gradient(to bottom right, {% for colour in colours %}{{ colour|parseRefs|raw }} {{ percentage * loop.index0 }}%, {{ colour|parseRefs|raw }} {{ percentage * loop.index }}%{% if not loop.last %},{% endif %}{% endfor %});
                        {% endswitch %}
                                "></button>
            {% endfor %}
        </div>
    {% endfor %}
</div>